.booking-steps {
  position: relative;
  background: #f7f5f9;
  display: flex;
  flex-wrap: wrap;
  padding: 190px 255px 195px 260px;
}

.booking-steps__main {
  width: 100%;
  max-width: 960px;
  margin-left: 85px;
  flex: 1;
}

.booking-steps__aside {
  max-width: 360px;
}
