
.react-datepicker-wrapper {
   width: 20.25rem;
   position: relative;
   font-weight: 300;
 }
 
 .react-datepicker__tab-loop {
   position: absolute;
 }
 
 .react-datepicker {
   font-family: "Open Sans", sans-serif;
   font-size: 1.125rem;
   width: 20.25rem;
   border: none;
   position: absolute;
   top: -6.875rem;
 }
 
 .react-datepicker__triangle {
   margin-left: 0 !important;
   left: 50% !important;
   margin-top: -7px !important;
   transform: none !important;
 }
 
 .react-datepicker__aria-live {
 }
 
 .react-datepicker__navigation {
   position: initial;
   margin: auto;
 }
 
 .react-datepicker__navigation--previous {
 }
 
 .react-datepicker__navigation-icon {
   width: 0.5rem;
   fill: #3d3b3b;
 }
 
 .react-datepicker__navigation--previous {
   transform: rotate(30deg);
 }
 
 .react-datepicker__navigation--next {
   transform: rotate(90deg);
 }
 
 .react-datepicker__navigation-icon--next {
 }
 
 .react-datepicker__month-container {
   width: 100%;
 }
 
 .react-datepicker__header {
   color: #333333;
   width: 100%;
   display: flex;
   justify-content: center;
   background: #fff;
   border: none;
   text-transform: capitalize;
   font-size: 1.5rem;
   font-weight: 400;
   align-items: center;
   border-bottom: 1px solid #d3d3d3;
 }
 
 .react-datepicker__current-month {
 }
 
 .react-datepicker__header__dropdown {
 }
 
 .react-datepicker__header__dropdown--scroll {
 }
 
 .react-datepicker__day-names {
   display: none;
 }
 
 .react-datepicker__day-name {
 }
 
 .react-datepicker__month {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
 }
 
 .react-datepicker__week {
   display: flex;
   justify-content: space-between;
   padding: 0 1rem;
 }
 
 .react-datepicker__day {
   color: #515151;
   font-weight: 400;
 }
 
 .react-datepicker__day--weekend {
   color: #333333;
   font-weight: 600;
 }
 
 .react-datepicker__day--outside-month {
   color: #e2e2e2;
 }
 
 .react-datepicker__day--selected:hover {
   background-color: rgba(255, 168, 0, 0.31);
 }
 
 .react-datepicker__day--keyboard-selected {
   background-color: none;
 }
 
 .react-datepicker__day--selected {
   border: 2px solid #ffa800;
   background-color: rgba(255, 168, 0, 0.31);
   color: #333333;
   font-weight: 600;
 }