.header {
  position: relative;
  padding-top: 4rem;
  background-color: #ffa800;
  border-bottom: 8px solid #ffa800;
  background-repeat: no-repeat;
  background-position: top center;
}

.header--bg--home {
  background-image: url("../../assets/images/header-bg-home.png");
  background-size: cover;
}

.header--bg--tickets {
  background-image: url("../../assets/images/header-bg-tickets.png");
  border-bottom: none;
}

.header--bg--success {
  background-color: #292929;
  background-image: url("../../assets/images/header-bg-success.png");
  background-size: cover;
  border-bottom: none;
  height: 835px;
}

.header__content {
  width: 100%;
  display: flex;
  gap: 9.125rem;
  margin: 16.1rem auto 0;
  padding: 0 14.5rem 0 1.25rem;
  justify-content: flex-end;
}

.header__content--tickets {
  display: block;
  padding: 0;
  margin: 0 auto;
  padding: 6.875rem 2.5rem 0 2.5rem;
}

@media screen and (max-width: 1600px) {
  .header__content {
    gap: 6.25rem;
    padding: 0 6.25rem 0 1.25rem;
  }
}

@media screen and (max-width: 1240px) {
  .header__content {
    margin: 10.1875rem auto 0;
    padding: 0 20px;
    justify-content: center;
  }
  .header__title {
    display: none;
  }
}

.header__title {
  margin-top: 10rem;
  font-size: 4.5rem;
  line-height: 5.27375rem;
  color: #fff;
}

.header__title--light {
  display: block;
  font-weight: 100;
}

.header__title--bold {
  font-weight: 700;
}
