.sort-control {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 44px;
}

.sort-control__quantity {
  color: #928f94;
  font-size: 1.125rem;
}

.sort-control__sort-by {
  margin-left: auto;
  color: #928f94;
  font-size: 1.125rem;
  display: flex;
  align-items: baseline;
}

.sort-control__show {
  margin-left: 61px;
  color: #928f94;
  font-size: 1.125rem;
}

.show-count-btn {
  background: transparent;
  color: #928f94;
  font-size: 1.125rem;
  padding: 0;
  padding-left: 7px;
  margin: 0;
  border: none;
}

.show-count-btn--active {
  color: #292929;
  font-family: Roboto;
  font-size: 1.125rem;
}

.MuiSelect-root {
  padding: 0;
}
