.MuiSlider-markLabel:first-of-type {
  transform: translateX(0) !important;
}

.MuiSlider-markLabel:last-of-type {
  transform: translateX(-100%) !important;
}

.mark-not-null .MuiSlider-markLabelActive[data-index='1'] {
  transform: translateX(-20%) !important;
}

.MuiSlider-thumb:last-of-type {
  transform: translateX(-100%) !important;
}

.price-slider {
  padding: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.price-slider__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 40px;
}
