.options {
  padding: 25px 35px 25px 64px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
}

.option__text {
  flex: 1;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 400;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 51px;
}

.option__text--kupe {
  background-image: url(../../../../assets/icons/kupe.svg);
}

.option__text--plackart {
  background-image: url(../../../../assets/icons/plackart.svg);
}

.option__text--sitting {
  background-image: url(../../../../assets/icons/sitting.svg);
}

.option__text--lux {
  background-image: url(../../../../assets/icons/lux.svg);
}

.option__text--wifi {
  background-image: url(../../../../assets/icons/wifi.svg);
}

.option__text--express {
  background-image: url(../../../../assets/icons/express.svg);
}

.option__switch {
}
