@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.primary-btn {
  border: none;
  display: inline-block;
  border-radius: 5px;
  background: #ffa800;
  transition: background 0.3s ease;
  cursor: pointer;
}

.primary-btn:active {
  background: #fff;
  outline: 1px solid rgba(255, 168, 0, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(255, 168, 0, 1);
  border: none;
}

.primary-btn--big--black {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  padding: 16px 70px;
}

.primary-btn--white {
  color: #fff;
}
