@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

.primary-btn {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 5px;
  background: #ffa800;
  transition: background 0.3s ease;
  cursor: pointer;
}

.primary-btn:not([disabled]):hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.primary-btn:not([disabled]):active {
  background: transparent;
  color: #ffa800;
  outline: 1px solid #ffa800;
  box-shadow: inset 0 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.primary-btn--disabled {
  background: #928f94;
  cursor: not-allowed;
}

.primary-btn--big--black {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  padding: 1rem 4.375rem;
}

.primary-btn--white {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.secondary-btn {
  padding: 6px 60px;
  border: none;
  outline: 1px solid #292929;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.secondary-btn:hover {
  color: #ffa800;
  background: #fff;
  box-shadow: inset 0 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.secondary-btn:active {
  color: #292929;
  background: #ffa800;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
}

.form-input {
  border-radius: 0.1875rem;
  border: none;
  background-color: #fff;
  font-weight: 400;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: rgb(229, 229, 229);
}
